<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin panel</title>
    <link rel="icon" type="image/png" sizes="56x56" href="a/assets/images/fav-icon/icon.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

</head>
<body class="bg-white">

<!-- Вставляем header -->
<div th:replace="layout/admin/fragments/header :: header"></div>

<!-- Основной контент -->
<div th:replace="${content}"></div>


<!-- jquery js -->
<script src="a/assets/js/vendor/jquery-3.6.2.min.js"></script>
<!-- bootstrap js -->
<script src="/js/bootstrap.min.js"></script>
<!-- carousel js -->
<script src="a/assets/js/owl.carousel.min.js"></script>
<!-- counterup js -->
<script src="a/assets/js/jquery.counterup.min.js"></script>
<!-- waypoints js -->
<script src="a/assets/js/waypoints.min.js"></script>
<!-- wow js -->
<script src="a/assets/js/wow.js"></script>
<!-- imagesloaded js -->
<script src="a/assets/js/imagesloaded.pkgd.min.js"></script>
<!-- venobox js -->
<script src="a/venobox/venobox.js"></script>
<!-- ajax mail js -->
<script src="a/assets/js/ajax-mail.js"></script>
<!--  animated-text js -->
<script src="a/assets/js/animated-text.js"></script>
<!-- venobox min js -->
<script src="a/venobox/venobox.min.js"></script>
<!-- isotope js -->
<script src="a/assets/js/isotope.pkgd.min.js"></script>
<!-- jquery meanmenu js -->
<script src="a/assets/js/jquery.meanmenu.js"></script>
<!-- jquery scrollup js -->
<script src="a/assets/js/jquery.scrollUp.js"></script>
<!-- theme js -->
<script src="a/assets/js/theme.js"></script>
<script src="a/assets/js/jquery.barfiller.js"></script>
<!-- jquery js -->
</body>
</html>